body {
  font-family: 'Cinzel Decorative', regular;
  margin: 0;
  padding: 0;
  background-image: url('./bcgrfirenice.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
h1, h2, h3 {
  font-family: 'Cinzel Decorative', cursive;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.content-container {
  flex: 1;
  padding: 1rem;
}

.audio-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
}

audio {
  width: 20%; 
}